@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,900;1,400;1,500;1,600;1,900&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,900;1,400;1,500;1,600&display=swap');
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
  transition: all 0.5s;
  cursor: pointer; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 5px; 
}




:root {
	--dark-blue: #333E5C;
	--orange: #FFA417;
	--dark: #2D3748;
	--white: #FFFFFF;
	--black-main: 02020D;
	--grey: #718096;
}
html {
	scroll-behavior: smooth;
	font-family: 'Noto Sans', sans-serif;
}
*{
	appearance: none;
  -moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	margin: 0;
	box-sizing: border-box;
}
a, button{
	cursor: pointer;
	text-decoration: none;
	border:  none;
	color: var(--dark-blue);
}
body{
	overflow-x: hidden;
}
body.unscroll{
	overflow: hidden !important;
}
img{
	width: 100%;
}

.mobile{
	display: none;
}

@media screen and (max-width: 920px) {
	.mobile{
		display: block;
	}
}


.container{
	position: relative;
	width: 100%;
	margin: auto;
	max-width: 1600px;
}
@media screen and (max-width: 1600px) {
	.container{
		padding: 0 24px;
	}
}

/*buttons*/
.solid-button{
	font-family: Noto Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	display: inline-block;
	padding: 16px 24px;
	border-radius: 8px;
}
.solid-button.orange{
	color: var(--dark-blue);
	background-color: var(--orange);
}
.solid-button.white{
	color: var(--dark-blue);
	background-color: var(--white);
}
.solid-button.blue{
	color: var(--white);
	background-color: var(--dark);
}
.border-button{
	background: transparent;
	font-family: Noto Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	padding: 16px 24px;
	border-radius: 8px;
}
.border-button.white{
	border: 1px solid var(--white);
	color: var(--white);
}
.border-button.dark{
	border: 1px solid var(--dark-blue);
	color: var(--dark-blue);
}

.icon-button{
	font-family: Noto Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 12px 24px;
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: fit-content;
}
.icon-button svg{
	margin-right: 12px;
}
.icon-button.white{
	background-color: var(--white);
	color: var(--black-main);
}
.icon-button.blue{
	background-color: var(--dark);
	color: white;
}
@media screen and (max-width: 920px){
	.solid-button, 
	.icon-button,
	.border-button{
		padding: 8px 12px;
		font-size: 12px;
		font-weight: 500;
	}
}


/*titles*/
.title-80{
	text-align: center;
	font-family: Archivo;
	font-size: 80px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}
.title-64{
	font-family: Archivo;
	font-size: 64px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}
.title-56{
	font-family: Archivo;
	font-size: 56px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}
.title-40{
	font-family: Archivo;
	font-size: 40px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	color: #2D3748;
}
.title-32{
	font-family: Archivo;
	font-size: 32px;
	font-style: normal;
	font-weight: 900;
	line-height: 150%;
}
.title-24{
	font-family: Noto Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.48px;
}
.text-20{
	font-family: Noto Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
@media screen and (max-width: 920px){
	.title-40{
		font-size: 24px;
		font-style: normal;
		font-weight: 900;
	}
	.title-24{
		font-size: 18px;
		font-style: normal;
		font-weight: 900;
	}
	.text-20{
		font-size: 14px;
	}
}



/*Header start*/
.site-header{
	position: absolute;
	z-index: 10;
	width: 100vw;
	left: 0;
	top: 0;
	background-color: transparent;
	transition: all .3s;
}
.site-header.scrolled{
	background-color: var(--dark-blue);
	box-shadow: 20px 20px 5px var(--dark-blue);
}
.header__wrap{
	width: 100%;
	padding: 32px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_logo{
	max-width: 220px;
}
.header_logo img{
	width: 100%;
}
.main-navigation ul{
	display: flex;
	align-items: center;
}
.main-navigation ul li{
	padding: 0 24px;
}
.main-navigation ul li a{
	color: var(--white);
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	transition: all .3s;
}
.main-navigation ul li a:hover{
	opacity: 0.7;
}
.main-navigation ul li.current-menu-item a{
	text-decoration: underline;
}
.main-navigation ul li.orange-button a{
	color: var(--dark-blue);
	font-family: Noto Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	display: inline-block;
	padding: 16px 24px;
	border-radius: 8px;
	background-color: var(--orange);
}
@media screen and (max-width: 1200px){
	.main-navigation ul {
		padding: 0 9px;
	}
	.main-navigation ul li a{
		font-size: 16px;
	}
}
@media screen and (max-width: 920px){
	.header__wrap{
		padding: 24px 0;
	}
	.header_logo{
		max-width: 114px;
		position: relative;
		z-index: 1;
	}
	.burger{
		display: block;
		position: relative;
		width: 24px;
		height: 20px;
		background: none;
		border: none;
		padding: 0;
	}
	.burger span{
		position: absolute;
		display: block;
		width: 16px;
		height: 2px;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		background-color: var(--white);
		transition: all .3s;
	}
	.burger span:first-child{
		top: 2px;
		width: 20px;
		transform: translate(0, 0);
	}
	.burger span:last-child{
		top: calc(100% - 2px);
		width: 20px;
		transform: translate(0, -100%);
	}
	.burger.active span,
	.burger.active span:first-child{
		right: unset;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	.burger.active span:last-child{
		right: unset;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	.header__nav{
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #2D3748;
		padding: 0 32px;
		max-height: 0px;
		overflow: hidden;
		transition: all .3s;
	}
	.header__nav.opened{
		max-height: 100vh;
		padding: 32px;
		padding-top: 69px;
		overflow: auto;
	}
	.header__nav.opened .main-navigation,
	.header__nav.opened .header__buttons.mobile,
	.header__nav.opened .headermob_nav.mobile{
		margin-bottom: 20px;
	}
	.main-navigation ul{
		flex-direction: column;
	}
	.main-navigation ul li{
		margin-bottom: 24px;
	}
	.main-navigation ul li:last-child{
		margin-bottom: 0;
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.main-navigation ul li a{
		font-family: Noto Sans;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-align: center;
	}
	.main-navigation ul li.orange-button a{
		padding: 12px 16px;
		font-size: 16px;
		font-weight: 500;
	}
	.header__buttons p{
		margin-bottom: 16px;
		font-size: 12px;
		font-weight: 500;
		text-align: center;
		color: var(--white);
	}
	.header__buttons-wrap{
		display: flex;
	}
	.header__buttons-wrap a:first-child{
		margin-right: 12px;
	}
	.headermob_menu li{
		margin-bottom: 16px;
		text-align: center;
	}
	.headermob_menu li:last-child{
		margin-bottom: 0;
	}
	.headermob_menu li a{
		color: var(--white);
		font-family: Noto Sans;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		text-align: center;
	}
	.headermob__socials{
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.headermob__socials li{
		margin-right: 32px;
	}
	.headermob__socials li:last-child{
		margin-right: 0;
	}
}
/*Header end*/


/*Baner start*/
.baner{
	height: 100vh;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.baner .container{
	height: 100%;
	position: relative;
}
.baner__wrap{
	padding-top: 153px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	overflow: hidden;
}
.baner__wrap h1{
	color: var(--white);
	margin-bottom: 24px;
	text-align: center;
	max-width: 800px;
}
.baner__wrap .title-24{
	color: var(--white);
	margin-bottom: 32px;
	text-align: center;
	max-width: 1300px;
}
.baner__buttons{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
}
.baner__buttons > .icon-button:first-child{
	margin-right: 24px;
}
.baner__socials{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.baner__wrap img{
	max-width: 600px;
}
.baner__socials li{
	margin-bottom: 32px;
}
.baner__socials li:last-child{
	margin-bottom: 0;
}
.baner__scroll{
	position: absolute;
	left: 0;
	bottom: 54px;
	font-family: Noto Sans;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.8px;
	background: none;
	border: none;
	color: var(--white);
}
.baner__scroll::after{
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	position: absolute;
	left: calc(100% + 4px);
	top: 50%;
	border-bottom: 2px solid var(--white);
	border-right: 2px solid var(--white);
	transform: translateY(-80%) rotate(45deg);
}
@media screen and (max-width: 920px){
	.baner__wrap h1{
		font-size: 32px;
		font-style: normal;
		font-weight: 900;
		margin-bottom: 8px;
	}
	.baner__wrap .title-24{
		margin-bottom: 24px;
		font-size: 14px;
		font-weight: 500;
	}
	.baner__socials,
	.baner__scroll{
		display: none;
	}
	.baner__image{
		width: 100%;
	}
}
/*Baner end*/

/*Text on image start*/
.text_on_image{
	padding: 60px 0;
}
.text_on_image__wrap{
	border-radius: 8px;
	background-size: cover;
	background-position: bottom right;
	padding: 72px 135px;
}
.text_on_image__text{
	color: var(--white);
	font-family: Noto Sans;
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
	max-width: 911px;
}
.text_on_image__text strong{
	font-weight: 900;
	color: var(--orange);
}
@media screen and (max-width: 920px) {
	.text_on_image{
		padding: 32px 0;
	}
	.text_on_image__wrap{
		padding: 24px;
		padding-bottom: 89px;
	}
	.text_on_image__text{
		max-width: 245px;
		font-size: 18px;
		font-weight: 500;
	}
}
/*Text on image end*/

/*Image with details start*/
.image_with_details{
	padding: 76px 0;
}
.image_with_details__wrap{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.image_with_details__col{
	width: 100%;
	max-width: 670px;
}
.image_with_details__col.image{
	border-radius: 8px;
	overflow: hidden;
	margin: 0 auto 0 0;
}
.image_with_details__col.texts{
	margin: 0 auto 0 32px;
}
.image_with_details__col.texts .title-32{
	color: var(--dark);
	margin-bottom: 24px;
}
.image_with_details__col.texts .title-24{
	color: var(--dark);
	margin-bottom: 50px;
}
.image_with_details__list li{
	margin-bottom: 48px;
}
.image_with_details__list li p{
	padding-left: 26px;
	position: relative;
	margin-bottom: 16px;
}
.image_with_details__list li p::before{
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: var(--orange);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.image_with_details__buttons{
	display: flex;
}
.image_with_details__buttons a{
	margin-right: 24px;
}
.image_with_details__buttons a:last-child{
	margin-right: 0;
}
@media screen and (max-width: 920px) {
	.image_with_details{	
		padding: 32px 0;
	}
	.image_with_details__col.image{
		display: none;
	}
	.image_with_details__col.texts{
		margin-left: 0;
		width: 100%;
	}
	.image_with_details__col.texts img{
		width: 100%;
		margin-bottom: 32px;
	}
	.image_with_details__col.texts .title-32{
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 16px;
	}
	.image_with_details__col.texts .title-24{
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 32px;
	}
	.image_with_details__list li{
		margin-bottom: 32px;
	}
	.image_with_details__list li p{
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 16px;
	}


}
/*Image with details end*/

/*List with image start*/
.list_with_image{
	padding: 60px;
}
.list_with_image .title-40{
	text-align: center;
	color: var(--dark);
	margin-bottom: 40px;
}
.list_with_image__wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}
.list_with_image__wrap.reversed{
	flex-direction: row-reverse;
}
.list_with_image__col{
	width: 100%;
	max-width: 500px;
}
.list_with_image__col.texts{
	margin-right: 64px;
}
.list_with_image__col.texts .title-24{
	margin-bottom: 24px;
	padding-top: 24px;
	font-weight: 900;
	font-family: Archivo;
	color: #2D3748;
	position: relative;
}
.list_with_image__col.texts .title-24::before{
	content: '';
	display: block;
	width: 32px;
	height: 4px;
	background-color: var(--orange);
	position: absolute;
	top: 0;
	left: 0;
}
.list_with_image__col.texts li{
	padding-left: 26px;
	margin-bottom: 24px;
	position: relative;
}
.list_with_image__col.texts li::before{
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: var(--orange);
	border-radius: 50%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.list_with_image__wrap.reversed .list_with_image__col.texts{
	margin-right: 0;
	margin-left: 64px;
}
.list_with_image__col.image{
	margin-left: 64px;
}
.list_with_image__wrap.reversed .list_with_image__col.image{
	margin-left: 0;
	margin-right: 64px;
}
@media screen and (max-width: 920px) {
	.list_with_image{
		padding: 32px 0;
	}
	.list_with_image .title-40{
		margin-bottom: 24px;
	}
	.list_with_image__wrap,
	.list_with_image__wrap.reversed{
		flex-direction: column;
	}
	.list_with_image__col,
	.elist_with_image__col.texts,
	.list_with_image__col.image{
		max-width: 100%;
		width: 100%;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	.list_with_image__col.texts li
}
/*List with image end*/

/*CTA start*/
.cta{

}
.cta__wrap{
	border-radius: 24px;
	background-image: url(../img/bg.jpg);
	position: relative;
	padding: 100px 120px;
	overflow: hidden;
}
.cta__wrap .title-64{
	margin-bottom: 40px;
	max-width: 513px;
	color: var(--white);
}
.cta__wrap .title-64 strong{
	color: var(--orange);
}
.cta__wrap .text-20{
	margin-bottom: 40px;
	max-width: 513px;
	color: var(--white);
}
.cta__buttons{
	display: flex;
	align-items: center;
}
.cta__buttons a:first-child{
	margin-right: 24px;
}
.cta__image{
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: auto;
}
@media screen and (max-width: 920px) {
	.cta{
		padding: 32px 0;
	}
	.cta__wrap{
		padding: 24px;
		padding-bottom: 222px;
	}
	.cta__wrap .title-64{
		font-size: 32px;
		font-weight: 900;
		margin-bottom: 16px;
	}
	.cta__wrap .text-20{
		margin-bottom: 24px;
	}
	.cta__image{
		width: 100%;
		height: auto;
		transform: translateX(30%);
	}
}	
/*CTA end*/

/*Roadmap start*/
.roadmap{
	padding: 64px 0;
}
.roadmap .title-40{
	text-align: center;
	margin-bottom: 40px;
}
@media screen and (max-width: 920px) {
	.roadmap{
		padding: 32px 0;
	}
	.roadmap .title-40{
		margin-bottom: 24px;
	}	
}
/*Roadmap end*/

/*Team start*/
.team{
	padding: 64px;
}
.team .title-40{
	text-align: center;
	margin-bottom: 40px;
}
.team__wrap{
	display: flex;
	align-items: flex-start;
	max-width: 1276px;
	margin: auto;
/*	justify-content: space-between;*/
	flex-wrap: wrap;
}
.team__wrap li{
	width: 100%;
	max-width: 244px;
	margin-right: calc((100% - 244px * 4) / 3);
	margin-bottom: 64px;
}
.team__wrap li:nth-child(4n){
	margin-right: 0;
}
.team__photo{
	width: 100%;
	max-width: 200px;
	margin: auto;
}
.team__wrap li figure{
	width: 100%;
	padding-top: 100%;
	position: relative;
	margin-bottom: 32px;
}
.team__wrap li img{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
	border: 5px solid var(--orange);
	top: 0;
	left: 0;
}
.team__wrap li h3{
	text-align: center;
	color: #2D3748;
	font-weight: 600;
	margin-bottom: 16px;
}
.team__wrap li p{
	color: #2D3748CC;
	text-align: center;
}
@media screen and (max-width: 1200px) {
	.team__wrap li,
	.team__wrap li:nth-child(4n){
		max-width: 30%;
		margin-right: calc(10% / 3);
	}
	.team__wrap li:nth-child(3n){
		margin-right: 0;
	}
}
@media screen and (max-width: 680px) {
	.team{
		padding: 32px 0;
	}	
	.team .title-40{
		margin-bottom: 24px;
	}
	.team__wrap{
		justify-content: space-between;
	}
	.team__wrap li,
	.team__wrap li:nth-child(3n),
	.team__wrap li:nth-child(4n){
		max-width: calc(50% - 12px);
		margin-right: 0;
		margin-bottom: 24px;
	}
	.team__wrap li figure{
		margin-bottom: 16px;
	}
	.team__wrap li h3{
		font-weight: 500;
		margin-bottom: 16px;
	}
}
/*Team end*/

/*Small cta start*/
.small_cta__wrap{
	border-radius: 24px;
	overflow: hidden;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	padding: 64px 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.small_cta__wrap .title-56{
	color: var(--white);
}
.small_cta__wrap .title-56 strong{
	color: var(--orange);
}
.small_cta__buttons{
	display: flex;
	align-items: center;
}
.small_cta__buttons button:first-child{
	margin-right: 24px;
}
@media screen and (max-width: 920px) {
	.small_cta{
		padding: 32px 0;
	}
	.small_cta__wrap{
		padding: 24px;
	}
	.small_cta__wrap .title-56{
		font-size: 32px;
		font-weight: 900;
		margin-bottom: 24px;
	}
	.small_cta__buttons button:first-child{
		margin-right: 16px;
	}
}
/*Small cta end*/

/*Contact block start*/
.contact_block{
	padding: 64px 0;
}
.contact_block .title-40{
	margin-bottom: 16px;
	text-align: center;
}
.contact_block .text-20{
	text-align: center;
	margin-bottom: 64px;
}
.contact_block__wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.contact_block__image{
	width: 655px;
	max-width: calc(50% - 24px);
}
.contact_block__form{
	width: 670px;
	max-width: calc(50% - 24px);
	margin: auto;
}
.contact_block__form * {
	color: var(--dark-blue);
}
input,
textarea{
	display: block;
	width: 100%;
	border: 1px solid var(--grey);
	border-radius: 8px;
	padding: 16px;
	font-family: Noto Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px; 
	margin-bottom: 24px;
}
textarea{
	resize: none;
	max-height: 112px;
}
.wpcf7-checkbox label{
	display: flex;
	align-items: center;
	font-family: Noto Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 8px;
}
input[type="checkbox"]{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	border: none;
	padding: 0;
	margin-bottom: 0;
	margin-right: 12px;
	box-sizing: border-box;
}
.wpcf7-list-item{
	margin-left: 0;
}
input[type="checkbox"]::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 2px solid var(--grey);
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
}
input[type="checkbox"]:checked::after{
	background-color: var(--grey);
}
input[type="checkbox"]:checked::before{
	content: '';
	width: 12px;
	height: 4px;
	border-left: 2px solid var(--orange);
	border-bottom: 2px solid var(--orange);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-30%, -50%) rotate(-45deg);
	z-index: 1;
}
.contact_block__form .solid-button{
	width: fit-content;
	border: none;
}
[type=submit]{
	cursor: pointer;
}
.wpcf7 form.failed .wpcf7-response-output{
	display: none !important;
}
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output{
	padding: 16px;
	border-color: var(--orange);
	border-radius: 8px;
}
.wpcf7 form.failed .wpcf7-response-output, 
.wpcf7 form.aborted .wpcf7-response-output{
	padding: 16px;
	border-color: rgb(201, 66, 66);
	border-radius: 8px;
}
.wpcf7 form.sent .wpcf7-response-output{
	padding: 16px;
	border-color: var(--dark-blue);
	border-radius: 8px;	
}
input.wpcf7-not-valid{
	border-color: rgb(201, 66, 66);
}
.contact_block__form .sent-form-text{
	display: none;
	padding: 16px;
	border: 2px solid seagreen;
	border-radius: 8px;

}
@media screen and (max-width: 920px) {
	.contact_block{
		padding: 32px 0;
	}
	.contact_block .text-20{
		display: none;
	}
	.contact_block__wrap{
		flex-direction: column-reverse;
	}
	.contact_block__image,
	.contact_block__form{
		max-width: 100%;
	}
	input, textarea{
		margin-bottom: 16px;
	}
}
/*Contact block end*/

/*Footer start*/
.site-footer{
	background-color: var(--dark);
}
.footer__main{
	padding: 48px 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--grey);
}
.footer__main .footer__logo{
	max-width: 220px;
}
.footer_menu{
	display: flex;
	align-items: center;
}
.footer_nav li{
	margin-right: 32px;
}
.footer_nav li:last-child{
	margin-right: 0;
}
.footer_nav li a{
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--white);
}
.footer__buttons{
	display: flex;
	align-items: center;
}
.footer__buttons a:first-child{
	margin-right: 24px;
}
.footer__legal{
	padding: 32px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.legal_nav{
	width: 75%;
}
.legal_menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.legal_menu li a{
	font-family: Noto Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--white);
}
.footer__socials{
	display: flex;
	width: 25%;
	align-items: center;
	justify-content: flex-end;
}
.footer__socials li{
	margin-left: 32px;
}
.footer__socials li:first-child{
	margin-left: 0;
}
.footer__main .footer__socials{
	display: none !important;
}
@media screen and (max-width: 920px) {
	.footer__main{
		padding: 32px 0;
	}
	.footer_nav{
		display: none;
	}
	.footer__buttons{
		display: none;
	}
	.footer__main .footer__logo{
		max-width: 107px;
	}
	.footer__main .footer__socials{
		width: auto;
		display: flex !important;
	}
	.footer__legal .footer__socials{
		display: none;
	}
	.footer__socials li{
		margin-left: 16px;
	}
	.legal_menu{
		justify-content: space-between;
		width: 100%;
	}
	.legal_nav{
		width: 100%;
	}
	.legal_menu li{
		margin-right: 0;
	}
	.legal_menu li a{
		font-size: 12px;
		font-weight: 400;
	}
}
/*Footer end*/

/*Small banner start*/
.small_banner{
	background-image: url('../img/bg.jpg');
	background-position: center;
	background-size: cover;
	padding-top: 160px;
}
.small_banner__wrap{
	padding: 40px 0;
}
.small_banner__wrap .title-40{
	margin-bottom: 16px;
	text-align: center;
	color: var(--white);
}
.small_banner__wrap .title-24{
	margin-bottom: 16px;
	text-align: center;
	color: var(--white);
}
@media screen and (max-width: 920px) {
	.small_banner{
		padding-top: 100px;
	}
	.small_banner__wrap{
		padding: 32px 0;
	}
}
/*Small banner end*/

/*Accordeons start*/
.accordeons{
	padding: 80px 0 60px 0;
}
.accordeons__item{
	padding: 32px;
	border-radius: 12px;
	border: 1px solid #A0AEC0;
	margin-bottom: 20px;
	transition: all .3s;
	cursor: pointer;
}
.accordeons__item.active{
	background-color: rgba(255, 159, 10, 0.10);
	border-color: var(--orange);
}
.accordeons__item h3{
	position: relative;
}
.accordeons__item h3::after{
	content: '';
	display: block;
	position: absolute;
	border-bottom: 1px solid #4a5568;
	border-right: 1px solid #4a5568;
	width: 16px;
	height: 16px;
	top: 50%;
	right: 0;
	transform: translateY(-50%) rotate(45deg);
	transition: all .3s;
}
.accordeons__item.active h3::after{
	transform: translateY(-50%) rotate(-135deg);	
}
.accordeons__item p{
	max-height: 0;
	overflow: hidden;
	transition: all .3s;
}
.accordeons__item.active p{
	margin-top: 20px;
	max-height: 100px;
}
@media screen and (max-width: 920px) {
	.accordeons{
		padding: 32px 0;
	}
	.accordeons__item{
		padding: 12px;
	}
	.accordeons__item h3::after{
		width: 8px;
		height: 8px;
	}
}
/*Accordeons end*/

/*Simplest CTA start*/
.simplest_cta{
	padding: 40px 0;
}
.simplest_cta__wrap{
	padding: 64px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px;
	background-image: url(../img/bg.jpg);
}
.simplest_cta__wrap h2{
	color: var(--white);
}
@media screen and (max-width: 920px) {
	.simplest_cta {
		padding: 32px 0;
	}

	.simplest_cta__wrap {
		padding: 12px;
		flex-direction: column;
		align-items: flex-start;
	}

	.simplest_cta__wrap h2 {
		margin-bottom: 12px;
	}
}
/*Simplest CTA end*/

/*Modals start*/
.modal{
	position: fixed;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #333E5C88;
	/*transition: all .3s;*/
	clip-path: circle(0 at 50% 50%);
	padding: 32px;
	overflow: auto;
}
.modal.active{
	clip-path: circle(100% at 50% 50%);
}
.modal__wrap{
	display: none;
	margin: auto;
	border-radius: 16px;
	background-color: var(--white);
	/*transform: translateY(calc(-100vh - 100%));*/
	/*transition: all .3s;*/
	/*transition-delay: .5s;*/
	/*max-height: 0;*/
	/*overflow: hidden;*/
}
.modal__wrap.active{
	display: block;
	/*transform: translateY(0);*/
	/*max-height: 100vh;*/
}
.modal__head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #E2E8F0;
	padding: 24px 32px;
}
.close{
	position: relative;
	width: 24px;
	height: 24px;
	border: none;
	background-color: transparent;
}
.close::before,
.close::after{
	content: '';
	position: absolute;
	display: block;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: var(--dark-blue);
}
.close::after{
	transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__main{
	padding: 32px;
}
.yellow-text{
	color: var(--dark-blue);
	font-family: Noto Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	padding: 24px;
	border-radius: 16px;
	margin-bottom: 16px;
	border: 1px solid var(--orange);
	background-color: #FFF5E6;
}
.yellow-text p{
	margin-bottom: 16px;
}
.yellow-text strong,
.yellow-text b{
	font-weight: 700;
}
.apply-form form p{
	font-family: Noto Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	color: var(--dark-blue);
	margin-bottom: 16px;
}
.wpcf7-radio .wpcf7-list-item{
	display: block;
	margin-bottom: 16px;
}
.wpcf7-radio .wpcf7-list-item label{
	display: flex;
	align-items: center;
}
.wpcf7-radio input[type="radio"]{
	width: 24px;
	height: 24px;
	margin-right: 4px;
	position: relative;
	border: none;
	background-color: transparent;
	margin-bottom: 0;
}
.wpcf7-radio input[type="radio"]::before{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	border: 2px solid var(--grey);
	transform: translate(-50%, -50%);
}
.wpcf7-radio input[type="radio"]:checked::before{
	border: 2px solid var(--orange);
}
.wpcf7-radio input[type="radio"]:checked::after{
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--orange);
}
.modal__footer{
	display: flex;
	border-top: 1px solid #E2E8F0;
	align-items: center;
	justify-content: flex-end;
	padding: 24px;
}
.modal__footer button{
	margin-left: 16px;
}
.apply-form{
	max-width: 720px;
}
.modal__main-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.partner-form__form{
	width: 100%;
	max-width: calc(50% - 12px);
}
.modal__main-container .yellow-text{
	width: 100%;
	max-width: calc(50% - 12px);
}
.partner-form__form p{
	font-size: 18px;
	font-weight: 400;
	line-height: 130%;
	margin-bottom: 32px;
}
@media screen and (max-width: 920px){
	.modal{
		padding: 64px 16px;
	}
	.modal__wrap{
		border-radius: 8px;
	}
	.modal__head,
	.modal__main,
	.modal__footer{
		padding: 16px;
	}
	.yellow-text{
		border-radius: 8px;
		padding: 16px;
	}
	.modal__main-container{
		flex-direction: column;
	}
	.partner-form__form,
	.modal__main-container .yellow-text{
		max-width: 100%;
	}
	.partner-form__form{
		margin-bottom: 16px;
	}
	.yellow-text p{
		margin-bottom: 8px;
	}
}
/*Modals end*/

.under_development{
	width: 100%;
	position: relative;
}
.under_development img{
	width: 100%;
	height: auto;
}
.under_development__blur{
	position: absolute;
	background-color: #ffffffad;
	width: 100%;
	height: 100%;
	display: flex;
	top: 0;
	left: 0;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	align-items: center;
	justify-content: center;
}
.under_development__blur h3{
	text-align: center;
	max-width: 500px;
}

/*Text block start*/
.text_block{
	padding: 32px 0;
}
.text_block p{
	margin-bottom: 16px;
}
.text_block strong,
.text_block b{
	font-weight: 600;
}
.text_block i,
.text_block em{
	font-style: italic;
}
.text_block ul{
	padding-left: 24px;
	list-style-type: disc;
}
.text_block ol{
	padding-left: 24px;
	list-style-type: decimal;
}
.text_block a{
	text-decoration: underline;
	color: var(--orange);
}
.text_block a:hover{
	text-decoration: none;
}
.text_block h3{
	font-weight: 600;
	font-size: 22px;
}
.text_block h2{
	font-weight: 600;
	font-size: 24px;
}
.text_block h1{
	font-weight: 600;
	font-size: 28px;
}
/*Text block end*/